<blockquote class="quote">
        
    <div class="media">
        
        <div class="media__body">
            <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis reprehenderit est deleniti dicta enim itaque maiores laboriosam? Perspiciatis, modi vero?</p>
            <h3 class="media__title quote__author">-- John Smith</h3>
            <p class="quote__organisation">ABC Company</p>
            <footer class="quote__author">
                
            </footer>
        </div>
    </div>
</blockquote>